//
// Button
//

.button {
  border: none;
  display: inline-block;
  padding: (($lineHeight / 2) - 1) 32px;
  min-height: $lineHeight;

  text-align: center;

  font-family: $fontHighlight;
  font-weight: 600;
  text-decoration: none;

  outline: 0;

  transition: none;

  &:hover {
    background-color: #4d4d4d;
    border-color: #4d4d4d;
    color: #ffffff;
    text-decoration: none;
  }
}

.button--xs {
  @include button--xs;
}

.button--sm {
  @include button--sm;
}

.buttom--lg {
  @include button--lg;
}

.button--primary {
  @include button--primary;
}

.button--secondary {
  @include button--secondary;
}

.button--secondary-variation {
  @include button--secondary-variation;
}

.button--block {
  @include button--block;
}

.close {
  float: right;
  font-size: (14px * 1.5);
  font-weight: bold; 
  line-height: 1;
  color: $colorGray;
  text-shadow: $colorGrayLight;
  opacity: .2;

  &:hover,
  &:focus {
    color: $colorGray;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
  }
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
