//
// Button
//

.button {
  border: none;
  display: inline-block;
  padding: (($lineHeight / 2) - 1) 32px;
  min-height: $lineHeight;

  text-align: center;

  font-family: $fontHighlight;
  font-weight: 600;
  text-decoration: none;

  outline: 0;

  transition: none;

  &:hover {
    background-color: #4d4d4d;
    border-color: #4d4d4d;
    color: #ffffff;
    text-decoration: none;
  }
}

.button--xs {
  @include button--xs;
}

.button--sm {
  @include button--sm;
}

.buttom--lg {
  @include button--lg;
}

.button--primary {
  @include button--primary;
}

.button--secondary {
  @include button--secondary;
}

.button--secondary-variation {
  @include button--secondary-variation;
}

.button--block {
  @include button--block;
}
