$headerHeight: 50px;

body {
  padding-top: $headerHeight + 50px;
}

.header {

  @include clearfix;
  background-color: $colorBlueGrey;
  color: $colorBlueGrey100;
  height: $headerHeight;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zindexHeader;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $colorBlueGrey50;
    }
  }

  .logo {
    color: $colorBlueGrey100;
    float: left;
    line-height: $headerHeight;
    padding: 0 $gapBase;
  }

  .search-box {
  }

  .user-nav {
    float: left;

    > a,
    .dropdown__toggle {
      line-height: $headerHeight;
      padding: {
        left: $gapBase;
        right: $gapBase;
      }
    }

    > a {
      display: inline-block;
    }

    .dropdown {
      display: inline-block;
    }

    .dropdown__toggle {
      display: block;
    }

    .dropdown__menu {
      left: auto;
      right: 0;

      > li {
        padding-left: 0;
      }
    }
  }
}

.header__nav {
  float: left;
  padding: 0 1rem;

  .list--inline {
    font-size: 16px;

    > li {
      > a {
        display: block;
        line-height: $headerHeight;
        padding: {
          left: $gapBase;
          right: $gapBase;
        }
        text-align: center;

        &:hover {
          background-color: $colorBlueGrey800;
          color: #fff;
        }
      }
    }
  }
}

.header__actions {
  float: right;

  > .button {
    background: transparent;
    border: none;
    color: $colorBlueGrey100;
    float: left;
    font-weight: normal;
    height: $headerHeight;
    line-height: $headerHeight;
    padding: 0 $gapBase;

    &:hover {
      background-color: $colorBlueGrey800;
      color: #fff;
    }
  }
}

