.micropost {
  @include clearfix;
  padding: $gapBase;

  a {
    text-decoration: none;
  }
}

.micropost__context {
  color: $colorGrayLight;
  font-size: 13px;
  margin-bottom: 5px;

  .icon {
    margin-right: .5em;
  }

  a {
    color: inherit;

    &:hover {
      color: $colorGrayDark;
    }
  }
}

.micropost__avatar {
  float: left;
  height: 50px;
  margin-right: $gapBase;
  overflow: hidden;
  width: 50px;
}

.micropost__content {
  overflow: hidden;
}

.micropost__body {
  padding: $gapSmall 0;
}

.micropost__user,
.micropost__timestamp {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  vertical-align: middle;
}

.micropost__user {
  display: inline-block;
  margin-right: 10px;

  &,
  &:visited {
    color: $colorGrayDark;
  }

  &:hover {
    color: $colorBlack;
  }
}

.micropost__username {
  color: $colorGrayLight;
  margin-left: $gapSmall;
}

.micropost__timestamp {
  color: $colorGrayLight;
  cursor: default;

  a {
    color: inherit;

    &:hover {
      color: $colorGrayDark;
    }
  }
}

.micropost__actions {
  padding: {
    left: 0;
  }

  > li {
    display: inline-block;
    margin-left: $gapMedium;
    padding-left: 0;

    &:first-child {
      margin-left: 0;
      padding-left: 0;
    }
  }
}

.micropost__action {
  text-decoration: none;
  
  &,
  &:visited {
    color: $colorGrayLight;
  }

  &:hover {
    color: $colorGray;
  }

  &.is-reposted {
    color: $colorGreen700;
  }
}

.micropost__action__count {
  margin-left: .5em;
}

.microposts {
  padding: 0;

  > li {
    border-top: $borderSolid;
    padding-left: 0;

    &:first-child {
      border-top: none;
    }

    &::before {
      display: none;
    }
  }

}

.micropost--statements {
  background-color: $colorBlueGrey50;
  padding-left: 0;

  > li {
    &::before {
      display: none;
    }
  }
}

.micropost-form {
  .form__actions {
    .button--primary {
      @include button--block;
    }
  }
}
