.micropost {
  @include clearfix;
  padding: $gapBase;

  a {
    text-decoration: none;
  }
}

.micropost__avatar {
  float: left;
  height: 50px;
  margin-right: $gapBase;
  overflow: hidden;
  width: 50px;
}

.micropost__content {
  overflow: hidden;
}

.micropost__body {
  padding: $gapSmall 0;
}

.micropost__username {
  display: inline-block;
  margin-right: 10px;

  &,
  &:visited {
    color: $colorGrayDark;
  }

  &:hover {
    color: $colorBlack;
  }
}

.micropost__timestamp {
  color: $colorGrayLight;
  cursor: default;

  a {
    color: inherit;

    &:hover {
      color: $colorGrayDark;
    }
  }
}

.micropost__actions {
  padding: {
    left: 0;
  }

  > li {
    display: inline-block;
    margin-left: $gapMedium;
    padding-left: 0;

    &:first-child {
      margin-left: 0;
      padding-left: 0;
    }
  }
}

.micropost__action {
  text-decoration: none;
  
  &,
  &:visited {
    color: $colorGrayLight;
  }

  &:hover {
    color: $colorGray;
  }
}

.microposts {
  padding: 0;

  > li {
    border-top: $borderSolid;

    &:first-child {
      border-top: none;
    }

    &::before {
      display: none;
    }
  }
}

.micropost-form {
  .form__actions {
    .button--primary {
      @include button--block;
    }
  }
}
