.profile--small {
  margin-bottom: $gapBase;

  .profile__avatar {
    height: 80px;
    width: 80px;
  }
}

.profile__user {
  @include clearfix;
  margin-bottom: $gapBase;
}

.profile__avatar {
  float: left;
  margin-right: $gapSmall;
}

.profile__name {
  overflow: hidden;

  > strong {
    color: $colorBlack;
    display: block;
    font-size: $fontMedium;
  }

  > em {
    color: $colorGray;
    display: block;
    font-size: $fontSmall;
    font-style: normal;
    
    &::before {
      content: '@';
    }
  }
}

.profile__stats {
  @include clearfix;
  margin-bottom: $gapBase;

  .stat {
    @include gallery(4);
    text-decoration: none;

    > span {
      color: $colorGray;
      display: block;
    }

    > strong {
      color: $colorBlack;
      display: block;
    }
  }
}

.profile__details {
  list-style: none;
  margin-bottom: $gapBase;
  padding: {
    left: 0;
    top: 0;
  }

  > li {
    @include text-overflow;
    color: $colorGray;
    padding-left: 0;

    .icon {
      margin-right: $gapSmall;
      vertical-align: middle;
    }

    a {
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.profile__actions {
  margin-top: $gapBase;

  &:empty {
    display: none;
  }
}

.profile--tiny {
  .profile__user {
    margin-bottom: 0;
  }

  .profile__avatar {
    height: 60px;
    width: 60px;
  }

  .profile__name {
    > strong,
    > em {
      line-height: 30px;
    }
  }
}
