@mixin button-variant($color, $textColor, $isInverted: false) {
  background-color: $color;
  color: $textColor;
  border: 1px solid darken($color, 10%);

  @if $isInverted { border-color: transparent;}
}

@mixin button-size($paddingVertical, $paddingHorizontal, $fontSize, $lineHeight, $borderRadius) {
  padding: $paddingVertical $paddingHorizontal;
  font-size: $fontSize;
  line-height: $lineHeight;
  border-radius: $borderRadius;
}

@mixin button--outline($color, $colorHover: #fff) {
  background-color: transparent;
  border: 1px solid $color;
  color: $color;

  &:hover,
  &:focus,
  &:active {
    background-color: $color;
    color: $colorHover;
  }
}

@mixin button--xs {
  @include button-size(0, 10px, $fontSmall, 20px, 0);
  height: 22px;
}

@mixin button--sm {
  @include button-size(0, 16px, $fontSmall, 28px, 0);
  height: 30px;
}

@mixin button--lg {
  @include button-size(0, 24px, $fontLarge, 44px, 0);
  height: 46px;
}

@mixin button--primary {
  @include button-variant(#4285f4, #ffffff);

  &.button--outline {
    @include button--outline(#4285f4);
  }
}

@mixin button--secondary {
  @include button-variant(#ffffff, $colorBlue);

  &.button--outline {
    @include button--outline($colorBlue);
  }
}

@mixin button--secondary-variation {
  @include button-variant(#ffffff, $colorBlue, true);

  &.button--outline {
    @include button--outline($colorBlue);
  }
}

@mixin button--block {
  display: block;
  width: 100%;
  text-align: center;
}
