<div class="form__group">
  <textarea class="form__control reply-form__content" rows="4" placeholder="Reply..."></textarea>
</div>
<footer>
  <div class="form__actions">
    <button class="button button--primary reply-form__submit">Reply</button>
  </div>
</footer>
