@import '_utils/_utils';

html.microposts_show {
  .wrapper {
    @include container;

    > article {
      @include span(8);
      @include push(2);
      background-color: #fff;
      border: $borderSolid;
      border-radius: $borderRadiusBase;
      padding: $gapMedium;

      > header {
        margin-bottom: $gapBase;
      }

      > .body {
      }

      > footer {
        time {
          color: $colorGray;
        }
      }
    }
  }

  .micropost__actions {
    margin-bottom: $gapBase;
  }
}
