@import '_utils/_utils';

html.microposts_show {
  .wrapper {
    @include container;

    .conversation {
      @include span(8);
      @include push(2);
      background-color: #fff;
      border: $borderSolid;
      border-radius: $borderRadiusBase;
    }
  }
}
