@import 'utils/utils';

html.static_pages_home {
  .wrapper {
    @include container;

    > aside {
      @include span(3);
    }

    > main {
      @include span(last 9);

      > h1 {
        font-size: $fontMedium;
        font-weight: bold;
        margin-bottom: 1em;
        line-height: 26px;
        padding: 0;
      }
    }
  }
}
